@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.gp-4 {
  gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}
